### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [79]:
import pandas as pd
df = pd.read_csv('ratings.csv')

def class_ratings(row):
    if row['rating'] <= 2:
        rating = 'низкий'
    elif row['rating'] <= 4:
        rating = 'средний'
    elif row['rating'] <= 5:
        rating = 'высокий'
    return rating


df['class_ratings'] = df.apply(class_ratings, axis = 1)
df.head()

   userId  movieId  rating   timestamp class_ratings
0       1       31     2.5  1260759144       средний
1       1     1029     3.0  1260759179       средний
2       1     1061     3.0  1260759182       средний
3       1     1129     2.0  1260759185        низкий
4       1     1172     4.0  1260759205       средний

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

12345
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [83]:
import pandas as pd

df = pd.read_csv('keywords.csv')
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def region(row):
    for k, v in geo_data.items():
        for city in v:
            if city in row['keyword']:
                return k
    return 'undefined'

df['region'] = df.apply(region, axis = 1)
df.groupby('region').count()

                keyword  shows
region
undefined         99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

    В переменную years запишите список из всех годов с 1950 по 2010.

    Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        для каждой строки пройдите по всем годам списка years
        если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

    Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

    Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [78]:
import pandas as pd
import re

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

years = []
for i in range(1950, 2011):
    years.append(i)

def production_year(row):
    for i in years:
        if str(i) in row['title']:
            return i
    return 1900

movies['years'] = movies.apply(production_year, axis = 1)
df = movies.merge(ratings[['movieId','rating']], on='movieId')[['years', 'rating']]

df.groupby(['years']).mean().sort_values('rating', ascending=False)

         rating
years
1957   4.014241
1972   4.011136
1952   4.000000
1954   3.994220
1951   3.983539
...         ...
2005   3.448434
2003   3.444777
1996   3.426600
1997   3.415764
2000   3.356104

[62 rows x 1 columns]