### Задание 1. 
#### Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import pandas as pd
file = 'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv'

# прочитаем датасет
df = pd.read_csv(file, delimiter=',', na_values = '?')
# добавим колонки, чтобы датасет выглядел читабельнее
column_names = ['surgery', 'age', 'hospital_number', 'rectal_temperature','pulse', 'respiratory_rate',
                'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time',
                'pain','peristalsis', 'abdominal_distension','nasogastric_tube','nasogastric_reflux',
                'nasogastric_reflux_PH','rectal_examination','abdomen','packed_cell_volume','total_protein',
                'abdominocentesis_appearance','abdomcentesis_total_protein','outcome','surgical_lesion',
                'type_of_lesion_1','type_of_lesion_2','type_of_lesion_3','cp_data']
df = pd.DataFrame(df.values, columns = column_names )
# посмотрим основную информацию по датасету
df.info()
# проверим установку заголовков
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      298 non-null    float64
 1   age                          299 non-null    float64
 2   hospital_number              299 non-null    float64
 3   rectal_temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory_rate             241 non-null    float64
 6   temperature_of_extremities   243 non-null    float64
 7   peripheral_pulse             230 non-null    float64
 8   mucous_membranes             253 non-null    float64
 9   capillary_refill_time        267 non-null    float64
 10  pain                         244 non-null    float64
 11  peristalsis                  255 non-null    float64
 12  abdominal_distension         243 non-null    float64
 13  nasogastric_tube             196 non-null    float64
 14  nasogastric_reflux           194 non-null    float64
 15  nasogastric_reflux_PH        53 non-null     float64
 16  rectal_examination           197 non-null    float64
 17  abdomen                      181 non-null    float64
 18  packed_cell_volume           270 non-null    float64
 19  total_protein                266 non-null    float64
 20  abdominocentesis_appearance  135 non-null    float64
 21  abdomcentesis_total_protein  102 non-null    float64
 22  outcome                      298 non-null    float64
 23  surgical_lesion              299 non-null    float64
 24  type_of_lesion_1             299 non-null    float64
 25  type_of_lesion_2             299 non-null    float64
 26  type_of_lesion_3             299 non-null    float64
 27  cp_data                      299 non-null    float64
dtypes: float64(28)
memory usage: 65.5 KB

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion_1,type_of_lesion_2,type_of_lesion_3,cp_data
0,1.0,1.0,534817.0,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2.0,2208.0,0.0,0.0,2.0
1,2.0,1.0,530334.0,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2.0,0.0,0.0,0.0,1.0
2,1.0,9.0,5290409.0,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1.0,2208.0,0.0,0.0,1.0
3,2.0,1.0,530255.0,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2.0,4300.0,0.0,0.0,2.0
4,2.0,1.0,528355.0,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2.0,0.0,0.0,0.0,2.0

In [2]:
"""
Выберем данные, с которыми будем работать
Категориальные значения:
- surgery (наличие операции)
- age (возраст)
- temperature of extremities (температура конечностей)
- abdominal distension (растяжение брюшной полости)
- outcome (итоги, что в конце концов случилось с лошадью)
- peristalsis (перистальтика)
Числовые значения
- rectal_temperature (ректальная температура)
- pulse (пульс)

"""
df = df[['age', 'surgery', 'temperature_of_extremities', 'abdominal_distension',
         'peristalsis', 'outcome', 'rectal_temperature', 'pulse']]
# посмотрим основную информацию по датасету
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         299 non-null    float64
 1   surgery                     298 non-null    float64
 2   temperature_of_extremities  243 non-null    float64
 3   abdominal_distension        243 non-null    float64
 4   peristalsis                 255 non-null    float64
 5   outcome                     298 non-null    float64
 6   rectal_temperature          239 non-null    float64
 7   pulse                       275 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
0,1.0,1.0,NaN,2.0,4.0,3.0,39.2,88.0
1,1.0,2.0,1.0,1.0,3.0,1.0,38.3,40.0
2,9.0,1.0,4.0,4.0,4.0,2.0,39.1,164.0
3,1.0,2.0,NaN,NaN,NaN,2.0,37.3,104.0
4,1.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN

In [3]:
# Считаем базовые метрики
df.describe()
# получаем незначительный разброс по температуре и большой разброс по пульсу

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
count,299.00000,298.000000,243.000000,243.000000,255.000000,298.000000,239.000000,275.000000
mean,1.64214,1.395973,2.345679,2.259259,2.913725,1.550336,38.166527,71.934545
std,2.17730,0.489881,1.046369,1.061472,0.976298,0.737967,0.733508,28.680522
min,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,35.400000,30.000000
25%,1.00000,1.000000,1.000000,1.000000,3.000000,1.000000,37.800000,48.000000
50%,1.00000,1.000000,3.000000,2.000000,3.000000,1.000000,38.200000,64.000000
75%,1.00000,2.000000,3.000000,3.000000,4.000000,2.000000,38.500000,88.000000
max,9.00000,2.000000,4.000000,4.000000,4.000000,3.000000,40.800000,184.000000

### Задание 2.
#### Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [4]:
# посмотрим выбросы по температуре
q1 = df['rectal_temperature'].quantile(0.25)
q3 = df['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal_temperature')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# основные выбросы - незаполненные значения

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
4,1.0,2.0,2.0,2.0,3.0,1.0,NaN,NaN
6,1.0,1.0,3.0,2.0,4.0,2.0,NaN,60.0
7,1.0,2.0,3.0,4.0,4.0,3.0,NaN,80.0
15,9.0,1.0,3.0,3.0,4.0,2.0,NaN,128.0
19,1.0,1.0,1.0,4.0,4.0,1.0,39.9,72.0
34,1.0,2.0,4.0,3.0,4.0,3.0,NaN,104.0
39,1.0,1.0,3.0,3.0,3.0,2.0,NaN,88.0
42,1.0,1.0,3.0,4.0,4.0,3.0,NaN,120.0
43,1.0,1.0,3.0,NaN,4.0,3.0,35.4,140.0
44,1.0,2.0,4.0,4.0,4.0,2.0,NaN,120.0
51,1.0,2.0,1.0,1.0,3.0,1.0,NaN,NaN
53,1.0,2.0,3.0,3.0,3.0,3.0,40.3,114.0
56,1.0,1.0,2.0,3.0,3.0,2.0,NaN,64.0
57,1.0,1.0,4.0,3.0,4.0,2.0,NaN,NaN
64,1.0,1.0,3.0,2.0,3.0,1.0,NaN,60.0
67,1.0,2.0,1.0,NaN,NaN,1.0,NaN,52.0
73,9.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN
74,9.0,1.0,3.0,NaN,3.0,3.0,39.7,100.0
79,1.0,1.0,3.0,2.0,3.0,2.0,36.4,98.0
85,1.0,1.0,3.0,3.0,4.0,2.0,NaN,88.0
86,1.0,2.0,NaN,NaN,NaN,3.0,NaN,40.0
90,1.0,2.0,3.0,3.0,3.0,2.0,40.3,114.0
92,1.0,2.0,3.0,3.0,3.0,2.0,NaN,NaN
95,1.0,2.0,NaN,1.0,3.0,1.0,NaN,84.0
98,1.0,2.0,3.0,3.0,4.0,1.0,39.6,108.0
100,1.0,1.0,4.0,NaN,4.0,3.0,NaN,60.0
104,1.0,1.0,1.0,2.0,3.0,1.0,NaN,70.0
111,1.0,1.0,2.0,1.0,3.0,1.0,NaN,40.0
114,1.0,2.0,3.0,2.0,3.0,1.0,NaN,NaN
117,1.0,1.0,1.0,1.0,3.0,1.0,36.5,78.0
133,1.0,1.0,3.0,NaN,4.0,2.0,NaN,100.0
140,1.0,2.0,NaN,NaN,NaN,2.0,36.0,42.0
141,1.0,1.0,4.0,4.0,4.0,2.0,NaN,120.0
144,1.0,2.0,3.0,3.0,3.0,1.0,NaN,80.0
158,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN
166,1.0,2.0,1.0,1.0,3.0,1.0,NaN,44.0
168,1.0,1.0,NaN,4.0,NaN,3.0,NaN,65.0
172,1.0,1.0,3.0,3.0,4.0,2.0,NaN,104.0
173,1.0,2.0,3.0,4.0,NaN,2.0,NaN,NaN
176,1.0,1.0,NaN,NaN,NaN,2.0,NaN,68.0
177,1.0,1.0,3.0,4.0,4.0,1.0,NaN,60.0
190,9.0,2.0,2.0,1.0,1.0,1.0,NaN,100.0
192,1.0,1.0,3.0,4.0,3.0,2.0,NaN,60.0
215,1.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN
218,1.0,1.0,3.0,3.0,4.0,1.0,NaN,52.0
221,1.0,1.0,4.0,1.0,3.0,1.0,NaN,112.0
226,9.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN
237,1.0,2.0,3.0,2.0,3.0,3.0,36.1,88.0
241,1.0,1.0,1.0,3.0,3.0,2.0,NaN,36.0
250,1.0,2.0,3.0,1.0,4.0,2.0,36.6,42.0
252,1.0,2.0,3.0,2.0,4.0,1.0,NaN,112.0
253,1.0,1.0,3.0,4.0,4.0,1.0,NaN,80.0
258,1.0,1.0,3.0,1.0,3.0,2.0,40.8,72.0
264,1.0,2.0,3.0,1.0,3.0,3.0,NaN,56.0
273,1.0,1.0,NaN,4.0,4.0,3.0,NaN,76.0
280,1.0,2.0,3.0,1.0,3.0,2.0,40.0,78.0
292,1.0,1.0,3.0,NaN,3.0,3.0,NaN,78.0
294,1.0,1.0,4.0,NaN,4.0,3.0,NaN,120.0
297,1.0,1.0,3.0,3.0,3.0,1.0,36.5,100.0

In [5]:
# заполним пустые значения медианой
df['rectal_temperature'].fillna(df['rectal_temperature'].median(), inplace=True)
df

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
0,1.0,1.0,NaN,2.0,4.0,3.0,39.2,88.0
1,1.0,2.0,1.0,1.0,3.0,1.0,38.3,40.0
2,9.0,1.0,4.0,4.0,4.0,2.0,39.1,164.0
3,1.0,2.0,NaN,NaN,NaN,2.0,37.3,104.0
4,1.0,2.0,2.0,2.0,3.0,1.0,38.2,NaN
...,...,...,...,...,...,...,...,...
294,1.0,1.0,4.0,NaN,4.0,3.0,38.2,120.0
295,1.0,2.0,3.0,3.0,3.0,3.0,37.2,72.0
296,1.0,1.0,4.0,3.0,4.0,2.0,37.5,72.0
297,1.0,1.0,3.0,3.0,3.0,1.0,36.5,100.0
298,1.0,1.0,NaN,NaN,NaN,3.0,37.2,40.0

In [6]:
# посмотрим выбросы по пульсу
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# основные выбросы - незаполненные значения

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
2,9.0,1.0,4.0,4.0,4.0,2.0,39.1,164.0
4,1.0,2.0,2.0,2.0,3.0,1.0,38.2,NaN
40,9.0,2.0,NaN,NaN,NaN,1.0,39.0,150.0
51,1.0,2.0,1.0,1.0,3.0,1.0,38.2,NaN
54,9.0,1.0,3.0,4.0,3.0,2.0,38.6,160.0
57,1.0,1.0,4.0,3.0,4.0,2.0,38.2,NaN
73,9.0,1.0,NaN,NaN,NaN,2.0,38.2,NaN
92,1.0,2.0,3.0,3.0,3.0,2.0,38.2,NaN
114,1.0,2.0,3.0,2.0,3.0,1.0,38.2,NaN
116,1.0,2.0,3.0,3.0,4.0,3.0,39.5,NaN
125,1.0,1.0,3.0,2.0,4.0,1.0,38.7,NaN
150,1.0,1.0,4.0,2.0,4.0,2.0,39.3,NaN
158,1.0,2.0,1.0,2.0,1.0,1.0,38.2,NaN
173,1.0,2.0,3.0,4.0,NaN,2.0,38.2,NaN
203,1.0,1.0,3.0,2.0,4.0,1.0,39.2,NaN
215,1.0,2.0,NaN,NaN,NaN,1.0,38.2,NaN
226,9.0,1.0,NaN,NaN,NaN,1.0,38.2,NaN
254,9.0,1.0,1.0,3.0,1.0,2.0,38.8,184.0
274,9.0,1.0,1.0,2.0,3.0,2.0,38.8,150.0

In [7]:
# заполним пустые значения медианой
df['pulse'].fillna(df['pulse'].median(), inplace=True)
df

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
0,1.0,1.0,NaN,2.0,4.0,3.0,39.2,88.0
1,1.0,2.0,1.0,1.0,3.0,1.0,38.3,40.0
2,9.0,1.0,4.0,4.0,4.0,2.0,39.1,164.0
3,1.0,2.0,NaN,NaN,NaN,2.0,37.3,104.0
4,1.0,2.0,2.0,2.0,3.0,1.0,38.2,64.0
...,...,...,...,...,...,...,...,...
294,1.0,1.0,4.0,NaN,4.0,3.0,38.2,120.0
295,1.0,2.0,3.0,3.0,3.0,3.0,37.2,72.0
296,1.0,1.0,4.0,3.0,4.0,2.0,37.5,72.0
297,1.0,1.0,3.0,3.0,3.0,1.0,36.5,100.0
298,1.0,1.0,NaN,NaN,NaN,3.0,37.2,40.0

### Задание 3.
#### Работа с пропусками
Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [8]:
# посмотрим выбросы по возрасту
q1 = df['age'].quantile(0.25)
q3 = df['age'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['age'].between(lower_bound, upper_bound, inclusive=True)].sort_values('age')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# похоже на ошибку ввода данных, т.к. возраст обозначается в пределах 1-2

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
2,9.0,1.0,4.0,4.0,4.0,2.0,39.1,164.0
8,9.0,2.0,1.0,1.0,3.0,1.0,38.3,90.0
12,9.0,2.0,1.0,2.0,3.0,2.0,38.0,92.0
15,9.0,1.0,3.0,3.0,4.0,2.0,38.2,128.0
22,9.0,1.0,NaN,NaN,4.0,1.0,38.3,130.0
38,9.0,1.0,NaN,NaN,NaN,2.0,39.2,146.0
40,9.0,2.0,NaN,NaN,NaN,1.0,39.0,150.0
54,9.0,1.0,3.0,4.0,3.0,2.0,38.6,160.0
73,9.0,1.0,NaN,NaN,NaN,2.0,38.2,64.0
74,9.0,1.0,3.0,NaN,3.0,3.0,39.7,100.0
81,9.0,1.0,3.0,1.0,4.0,1.0,38.1,100.0
102,9.0,1.0,1.0,2.0,3.0,1.0,38.0,140.0
108,9.0,1.0,3.0,3.0,3.0,2.0,38.4,84.0
134,9.0,1.0,3.0,3.0,1.0,2.0,38.1,136.0
190,9.0,2.0,2.0,1.0,1.0,1.0,38.2,100.0
211,9.0,1.0,1.0,3.0,3.0,1.0,38.9,120.0
226,9.0,1.0,NaN,NaN,NaN,1.0,38.2,64.0
228,9.0,1.0,NaN,NaN,1.0,1.0,38.5,120.0
243,9.0,1.0,1.0,4.0,3.0,1.0,38.2,124.0
251,9.0,1.0,3.0,4.0,3.0,2.0,38.8,124.0
254,9.0,1.0,1.0,3.0,1.0,2.0,38.8,184.0
261,9.0,2.0,NaN,NaN,NaN,1.0,38.6,88.0
274,9.0,1.0,1.0,2.0,3.0,2.0,38.8,150.0
286,9.0,2.0,NaN,NaN,NaN,1.0,39.5,84.0

In [9]:
# исправим 9 на 2
df.loc[(df['age'] == 9), 'age'] = 2
df

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
0,1.0,1.0,NaN,2.0,4.0,3.0,39.2,88.0
1,1.0,2.0,1.0,1.0,3.0,1.0,38.3,40.0
2,2.0,1.0,4.0,4.0,4.0,2.0,39.1,164.0
3,1.0,2.0,NaN,NaN,NaN,2.0,37.3,104.0
4,1.0,2.0,2.0,2.0,3.0,1.0,38.2,64.0
...,...,...,...,...,...,...,...,...
294,1.0,1.0,4.0,NaN,4.0,3.0,38.2,120.0
295,1.0,2.0,3.0,3.0,3.0,3.0,37.2,72.0
296,1.0,1.0,4.0,3.0,4.0,2.0,37.5,72.0
297,1.0,1.0,3.0,3.0,3.0,1.0,36.5,100.0
298,1.0,1.0,NaN,NaN,NaN,3.0,37.2,40.0

In [10]:
# посмотрим выбросы по операциям
q1 = df['surgery'].quantile(0.25)
q3 = df['surgery'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['surgery'].between(lower_bound, upper_bound, inclusive=True)].sort_values('surgery')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# похоже на единичный пропуск

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
131,1.0,NaN,3.0,1.0,3.0,NaN,38.0,48.0

In [11]:
# исправим на моду
df['surgery'].fillna(df['surgery'].mode()[0],inplace=True)

In [12]:
# посмотрим выбросы по температуре конечностей
q1 = df['temperature_of_extremities'].quantile(0.25)
q3 = df['temperature_of_extremities'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['temperature_of_extremities'].between(lower_bound, upper_bound, inclusive=True)].sort_values('temperature_of_extremities')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# много не заполненных значений

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
0,1.0,1.0,NaN,2.0,4.0,3.0,39.2,88.0
3,1.0,2.0,NaN,NaN,NaN,2.0,37.3,104.0
16,1.0,2.0,NaN,NaN,NaN,1.0,37.5,48.0
22,2.0,1.0,NaN,NaN,4.0,1.0,38.3,130.0
24,1.0,2.0,NaN,NaN,NaN,1.0,37.8,60.0
35,1.0,2.0,NaN,1.0,NaN,3.0,38.3,112.0
36,1.0,1.0,NaN,1.0,3.0,1.0,37.8,72.0
38,2.0,1.0,NaN,NaN,NaN,2.0,39.2,146.0
40,2.0,2.0,NaN,NaN,NaN,1.0,39.0,150.0
52,1.0,2.0,NaN,NaN,NaN,1.0,38.6,40.0
71,1.0,1.0,NaN,NaN,NaN,2.0,37.7,56.0
73,2.0,1.0,NaN,NaN,NaN,2.0,38.2,64.0
80,1.0,1.0,NaN,2.0,3.0,1.0,37.3,40.0
86,1.0,2.0,NaN,NaN,NaN,3.0,38.2,40.0
89,1.0,2.0,NaN,NaN,NaN,1.0,38.0,52.0
94,1.0,1.0,NaN,3.0,3.0,1.0,37.3,48.0
95,1.0,2.0,NaN,1.0,3.0,1.0,38.2,84.0
105,1.0,1.0,NaN,NaN,NaN,1.0,38.3,52.0
112,1.0,1.0,NaN,NaN,NaN,2.0,36.8,60.0
120,1.0,1.0,NaN,1.0,3.0,3.0,38.3,80.0
127,1.0,1.0,NaN,3.0,3.0,3.0,37.4,84.0
128,1.0,1.0,NaN,1.0,NaN,1.0,38.4,49.0
129,1.0,1.0,NaN,NaN,NaN,2.0,37.8,30.0
140,1.0,2.0,NaN,NaN,NaN,2.0,36.0,42.0
147,1.0,1.0,NaN,2.0,4.0,1.0,38.3,132.0
148,1.0,2.0,NaN,NaN,1.0,1.0,38.7,48.0
160,1.0,1.0,NaN,NaN,NaN,2.0,38.3,42.0
164,1.0,1.0,NaN,3.0,3.0,3.0,39.4,120.0
168,1.0,1.0,NaN,4.0,NaN,3.0,38.2,65.0
176,1.0,1.0,NaN,NaN,NaN,2.0,38.2,68.0
180,1.0,2.0,NaN,2.0,NaN,1.0,37.8,48.0
189,1.0,1.0,NaN,1.0,3.0,1.0,37.1,40.0
201,1.0,1.0,NaN,NaN,NaN,3.0,37.5,48.0
209,1.0,1.0,NaN,2.0,4.0,2.0,37.9,68.0
215,1.0,2.0,NaN,NaN,NaN,1.0,38.2,64.0
216,1.0,1.0,NaN,NaN,NaN,1.0,38.0,76.0
226,2.0,1.0,NaN,NaN,NaN,1.0,38.2,64.0
228,2.0,1.0,NaN,NaN,1.0,1.0,38.5,120.0
231,1.0,1.0,NaN,NaN,NaN,1.0,38.5,30.0
238,1.0,1.0,NaN,NaN,3.0,3.0,38.1,70.0
259,1.0,2.0,NaN,2.0,3.0,1.0,38.0,40.0
261,2.0,2.0,NaN,NaN,NaN,1.0,38.6,88.0
262,1.0,1.0,NaN,2.0,4.0,2.0,37.1,75.0
267,1.0,1.0,NaN,NaN,3.0,1.0,38.2,42.0
273,1.0,1.0,NaN,4.0,4.0,3.0,38.2,76.0
279,1.0,1.0,NaN,NaN,1.0,1.0,38.6,48.0
282,1.0,1.0,NaN,NaN,NaN,1.0,38.2,72.0
286,2.0,2.0,NaN,NaN,NaN,1.0,39.5,84.0
288,1.0,1.0,NaN,2.0,2.0,1.0,38.0,50.0
298,1.0,1.0,NaN,NaN,NaN,3.0,37.2,40.0

In [13]:
# исправим на моду
df['temperature_of_extremities'].fillna(df['temperature_of_extremities'].mode()[0],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         299 non-null    float64
 1   surgery                     299 non-null    float64
 2   temperature_of_extremities  299 non-null    float64
 3   abdominal_distension        243 non-null    float64
 4   peristalsis                 255 non-null    float64
 5   outcome                     298 non-null    float64
 6   rectal_temperature          299 non-null    float64
 7   pulse                       299 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

In [14]:
# посмотрим выбросы по растяжению брюшной полости
q1 = df['abdominal_distension'].quantile(0.25)
q3 = df['abdominal_distension'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['abdominal_distension'].between(lower_bound, upper_bound, inclusive=True)].sort_values('abdominal_distension')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# много не заполненных значений

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
3,1.0,2.0,3.0,NaN,NaN,2.0,37.3,104.0
16,1.0,2.0,3.0,NaN,NaN,1.0,37.5,48.0
22,2.0,1.0,3.0,NaN,4.0,1.0,38.3,130.0
24,1.0,2.0,3.0,NaN,NaN,1.0,37.8,60.0
32,1.0,1.0,1.0,NaN,1.0,1.0,38.2,64.0
38,2.0,1.0,3.0,NaN,NaN,2.0,39.2,146.0
40,2.0,2.0,3.0,NaN,NaN,1.0,39.0,150.0
43,1.0,1.0,3.0,NaN,4.0,3.0,35.4,140.0
52,1.0,2.0,3.0,NaN,NaN,1.0,38.6,40.0
59,1.0,2.0,1.0,NaN,1.0,1.0,37.8,48.0
61,1.0,1.0,2.0,NaN,NaN,2.0,37.8,88.0
67,1.0,2.0,1.0,NaN,NaN,1.0,38.2,52.0
68,1.0,2.0,1.0,NaN,3.0,1.0,38.0,48.0
71,1.0,1.0,3.0,NaN,NaN,2.0,37.7,56.0
73,2.0,1.0,3.0,NaN,NaN,2.0,38.2,64.0
74,2.0,1.0,3.0,NaN,3.0,3.0,39.7,100.0
86,1.0,2.0,3.0,NaN,NaN,3.0,38.2,40.0
89,1.0,2.0,3.0,NaN,NaN,1.0,38.0,52.0
99,1.0,1.0,3.0,NaN,3.0,1.0,38.2,40.0
100,1.0,1.0,4.0,NaN,4.0,3.0,38.2,60.0
101,1.0,2.0,3.0,NaN,NaN,1.0,38.3,40.0
105,1.0,1.0,3.0,NaN,NaN,1.0,38.3,52.0
112,1.0,1.0,3.0,NaN,NaN,2.0,36.8,60.0
129,1.0,1.0,3.0,NaN,NaN,2.0,37.8,30.0
133,1.0,1.0,3.0,NaN,4.0,2.0,38.2,100.0
138,1.0,2.0,1.0,NaN,3.0,1.0,38.0,60.0
140,1.0,2.0,3.0,NaN,NaN,2.0,36.0,42.0
148,1.0,2.0,3.0,NaN,1.0,1.0,38.7,48.0
160,1.0,1.0,3.0,NaN,NaN,2.0,38.3,42.0
176,1.0,1.0,3.0,NaN,NaN,2.0,38.2,68.0
184,1.0,1.0,4.0,NaN,3.0,1.0,38.5,120.0
201,1.0,1.0,3.0,NaN,NaN,3.0,37.5,48.0
215,1.0,2.0,3.0,NaN,NaN,1.0,38.2,64.0
216,1.0,1.0,3.0,NaN,NaN,1.0,38.0,76.0
217,1.0,1.0,1.0,NaN,2.0,3.0,38.1,40.0
219,1.0,1.0,4.0,NaN,4.0,3.0,39.2,88.0
226,2.0,1.0,3.0,NaN,NaN,1.0,38.2,64.0
228,2.0,1.0,3.0,NaN,1.0,1.0,38.5,120.0
231,1.0,1.0,3.0,NaN,NaN,1.0,38.5,30.0
238,1.0,1.0,3.0,NaN,3.0,3.0,38.1,70.0
256,1.0,1.0,3.0,NaN,4.0,2.0,38.7,96.0
261,2.0,2.0,3.0,NaN,NaN,1.0,38.6,88.0
267,1.0,1.0,3.0,NaN,3.0,1.0,38.2,42.0
279,1.0,1.0,3.0,NaN,1.0,1.0,38.6,48.0
282,1.0,1.0,3.0,NaN,NaN,1.0,38.2,72.0
286,2.0,2.0,3.0,NaN,NaN,1.0,39.5,84.0
289,1.0,2.0,2.0,NaN,1.0,1.0,38.6,45.0
292,1.0,1.0,3.0,NaN,3.0,3.0,38.2,78.0
294,1.0,1.0,4.0,NaN,4.0,3.0,38.2,120.0
298,1.0,1.0,3.0,NaN,NaN,3.0,37.2,40.0

In [15]:
# исправим на моду
df['abdominal_distension'].fillna(df['abdominal_distension'].mode()[0],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         299 non-null    float64
 1   surgery                     299 non-null    float64
 2   temperature_of_extremities  299 non-null    float64
 3   abdominal_distension        299 non-null    float64
 4   peristalsis                 255 non-null    float64
 5   outcome                     298 non-null    float64
 6   rectal_temperature          299 non-null    float64
 7   pulse                       299 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

In [16]:
# посмотрим выбросы по перистальтике
q1 = df['peristalsis'].quantile(0.25)
q3 = df['peristalsis'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['peristalsis'].between(lower_bound, upper_bound, inclusive=True)].sort_values('peristalsis')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# много не заполненных значений

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
3,1.0,2.0,3.0,1.0,NaN,2.0,37.3,104.0
10,1.0,2.0,2.0,2.0,1.0,1.0,39.1,72.0
16,1.0,2.0,3.0,1.0,NaN,1.0,37.5,48.0
24,1.0,2.0,3.0,1.0,NaN,1.0,37.8,60.0
28,1.0,2.0,2.0,1.0,1.0,1.0,37.7,48.0
...,...,...,...,...,...,...,...,...
285,1.0,2.0,3.0,3.0,NaN,3.0,37.8,82.0
286,2.0,2.0,3.0,1.0,NaN,1.0,39.5,84.0
289,1.0,2.0,2.0,1.0,1.0,1.0,38.6,45.0
293,1.0,2.0,1.0,1.0,1.0,1.0,38.5,40.0
298,1.0,1.0,3.0,1.0,NaN,3.0,37.2,40.0

In [17]:
# похоже их надо заполнить '4'
df['peristalsis'].fillna(4,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         299 non-null    float64
 1   surgery                     299 non-null    float64
 2   temperature_of_extremities  299 non-null    float64
 3   abdominal_distension        299 non-null    float64
 4   peristalsis                 299 non-null    float64
 5   outcome                     298 non-null    float64
 6   rectal_temperature          299 non-null    float64
 7   pulse                       299 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

In [18]:
# посмотрим выбросы по состоянию лошади
q1 = df['outcome'].quantile(0.25)
q3 = df['outcome'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['outcome'].between(lower_bound, upper_bound, inclusive=True)].sort_values('peristalsis')
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)
# одно незаполненное значение

,age,surgery,temperature_of_extremities,abdominal_distension,peristalsis,outcome,rectal_temperature,pulse
131,1.0,1.0,3.0,1.0,3.0,NaN,38.0,48.0

In [19]:
# исправим на моду
df['abdominal_distension'].fillna(df['abdominal_distension'].mode()[0],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         299 non-null    float64
 1   surgery                     299 non-null    float64
 2   temperature_of_extremities  299 non-null    float64
 3   abdominal_distension        299 non-null    float64
 4   peristalsis                 299 non-null    float64
 5   outcome                     298 non-null    float64
 6   rectal_temperature          299 non-null    float64
 7   pulse                       299 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB