### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0

In [21]:
import pandas as pd

data = pd.read_csv('ratings.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [22]:
data[data['rating'] == 5].groupby('movieId').count().sort_values('rating', ascending=False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [81]:
import pandas as pd

data = pd.read_csv('power.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [85]:
data[((data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia'))
     & ((data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21))
     & ((data['year'] >= 2005) & (data['year'] <= 2010))
     & (data['quantity'] > 0)].groupby(by=['country', 'category']).sum().groupby(level=[0]).cumsum()

                      year  quantity
country   category
Estonia   4          30095      28.0
          21        162590   63440.0
Latvia    21        142533   54844.0
Lithuania 4          36114      18.0
          12        210804    6344.0
          21        391484  122296.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
import pandas as pd
# df = pd.read_html('https://fortrader.org/quotes')[1]
df = pd.read_html('https://www.elbz.ru/Pnevmatika_FESTO.html')[0]
df

                               0
0  Регистрация |  Забыли пароль?